<div class="container mt-4">
	<div class="card">
		<div class="card-body text-center">
			<span class="h3" style="color: #1e1e1e">Registro de Pacientes</span>
			<h5 *ngIf="paciente.length == 0">No hay pacientes registrados</h5>
			<table
				*ngIf="paciente.length > 0"
				class="table table-striped table-hover"
			>
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Fecha</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let paciente of paciente">
						<td style="text-align: left;">{{ paciente.nombre }}</td>
						<td style="text-align: left;">{{ paciente.apellido }}</td>
						<td>
							{{ paciente.fecha.seconds * 1000 | date: "shortDate" }}
						</td>
						<td>
							<i
								class="fas fa-edit fa-lg text-info"
								style="margin-right: 10px"
								[routerLink]="['/editarpaciente/', paciente.id]"
							></i>
							<i
								class="fas fa-trash-alt fa-lg text-danger"
								(click)="eliminarPaciente(paciente.id)"
							></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
