<div class="container.mt-4">
	<div class="card">
		<div class="text-center card-body">
			<span class="h3" style="color: #1e1e1e">Resultados</span>
			<h6>Selecciona un paciente para observar sus respuestas</h6>
			<h5 *ngIf="paciente.length == 0">No hay pacientes registrados</h5>
			<table
				*ngIf="paciente.length > 0"
				class="table table-striped table-hover"
			>
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Fecha</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let paciente of paciente">
						<td style="text-align: left;">{{ paciente.nombre }}</td>
						<td style="text-align: left;">{{ paciente.apellido }}</td>
						<td>
							{{ paciente.fecha.seconds * 1000 | date: "shortDate" }}
						</td>
						<td>
							<i class="fas fa-eye fa-lg text-info" style="margin-right: 10px" [routerLink] = "['/respuestas-paciente/', paciente.id]"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
