<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "/"  style="color: #ffffff"></ion-back-button>
    </ion-buttons>
    <ion-title  style="color: #ffffff">Registros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-lista>
  
  </app-lista>
</ion-content>


