<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6">
      <div class="card text-center">
        <div class="card-body" style="background-color: #4A42FF">
          <h1 style="color: white;">
            <b>Hola! Ingresa los datos a actualizar por favor
            </b>
          </h1>
          <form class="mt-3" [formGroup]="createPaciente" (ngSubmit)="agregarEditarPaciente()">
            <div class="row" style="color: black">
              <div class="col">
                <input type="text" class="form-control form-control-lg" formControlName="nombre" placeholder="Nombre" />
              </div>
            </div>
            <div class="row mt-3" style="color: black">
              <div class="col">
                <input type="text" class="form-control form-control-lg" formControlName="apellido"
                  placeholder="Apellido" />
              </div>
            </div>
            <div class="mt-3">
              <ion-button type="button" color="danger" routerLink="/ver-listas">Atras</ion-button>
              <ion-button type="submit" color="tertiary" routerLink="/ver-listas">Guardar</ion-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>