.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
    
}

.iconh{
    display: block;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 10%;
}