<ion-header>
	<ion-toolbar color="primary">
		<ion-title text-center>Iniciar Sesión</ion-title>
	</ion-toolbar>
</ion-header>

<img class="icon" src="assets/icon/psicologo.svg" alt="" />

<ion-content padding>
	<ion-item>
		<ion-label position="floating">Correo electrónico</ion-label>
		<ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label position="floating">Contraseña</ion-label>
		<ion-input
			type="password"
			[(ngModel)]="password"
			name="password"
		></ion-input>
	</ion-item>

	<br />
	<ion-button
		(click)="OnSubmitLogin()"
		expand="block"
		class="ion-text-capitalize"
		>Iniciar Sesión<ion-icon name="log-in" style="margin-left: 10px"></ion-icon
	></ion-button>

	<ion-button
		href="#"
		expand="block"
		routerLink="/test"
		class="ion-text-capitalize"
	>
		Empezar Test
		<ion-icon name="pencil" style="margin-left: 10px"></ion-icon>
	</ion-button>
</ion-content>
