<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6">
      <div class="card text-center">
        <div class="card-body" style="background-color: #4a42ff">
          <h1>
            <b
              >Hola! Ingresa tus datos por favor
              <div>
                <span class="visually-hidden">Loading...</span>
              </div>
            </b>
          </h1>
          <span
            *ngIf="submitted && createPaciente.invalid"
            class="badge badge-danger"
            >TODOS LOS CAMPOS SON OBLIGATORIOS</span
          >
          <form
            class="mt-3"
            [formGroup]="createPaciente"
            (ngSubmit)="agregarPaciente()"
          >
            <div class="row" style="color: black">
              <div class="col">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  formControlName="nombre"
                  placeholder="Nombre"
                  [(ngModel)]="inpaciente.nombre"
                />
              </div>
            </div>
            <div class="row mt-3" style="color: black">
              <div class="col">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  formControlName="apellido"
                  placeholder="Apellido"
                  [(ngModel)]="inpaciente.apellido"
                />
              </div>
            </div>
            <div class="mt-3">
              <ion-button
                type="button"
                color="danger"
                routerLink="/login"
                class="ion-text-capitalize"
                >Atras</ion-button
              >
              <ion-button
                type="submit"
                color="tertiary"
                (click)="swipeNext()"
                class="boton-primario"
                >Siguiente</ion-button
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
