<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/" style="color: white"> </ion-back-button>
		</ion-buttons>
		<ion-title style="color: #ffffff"> Respuesta del Paciente </ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div class="container mt-4">
		<div class="card">
			<div class="card-body text-center" id="PDF">
				<span class="h3" style="color: #1e1e1e">Registro de Respuestas</span>

				<h6><b>Paciente:</b> {{ nombre }} {{ apellido }}</h6>
				<h6>
					<b>Fecha de Registro: </b>
					{{ fecha * 1000 | date: "fullDate" }}
				</h6>
				<h5 *ngIf="respuestas.length == 0">No se han encontrado respuestas</h5>

				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Factores</th>
							<th>Puntaje</th>
						</tr>
					</thead>

					<tbody style="text-align: left">
						<tr>
							<td>Ataque de Pánico y agrofobia</td>
							<td style="text-align: center">{{ trastorno1 }}</td>
						</tr>
						<tr>
							<td>Trastorno de Ansiedad por separación</td>
							<td style="text-align: center">{{ trastorno2 }}</td>
						</tr>
						<tr>
							<td>Fobia Social</td>
							<td style="text-align: center">{{ trastorno3 }}</td>
						</tr>
						<tr>
							<td>Miedos</td>
							<td style="text-align: center">{{ trastorno4 }}</td>
						</tr>
						<tr>
							<td>Trastornos obsesivo - compulsivo</td>
							<td style="text-align: center">{{ trastorno5 }}</td>
						</tr>
						<tr>
							<td>Trastorno de Ansiedad Generalizada</td>
							<td style="text-align: center">{{ trastorno6 }}</td>
						</tr>
					</tbody>
				</table>

				<table
					*ngIf="respuestas.length > 0"
					class="table table-striped table-hover"
				>
					<thead>
						<tr>
							<th>#</th>
							<th>Pregunta</th>
							<th>Respuesta</th>
						</tr>
					</thead>
					<tbody style="text-align: left">
						<tr *ngFor="let respuesta of respuestas">
							<td style="text-align: center">{{ respuesta.numero }}</td>
							<td>{{ respuesta.pregunta.pregunta }}</td>
							<td>{{ respuesta.respuesta }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<ion-button (click)="downloadPDF()">Exportar a PDF</ion-button>
	</div>
</ion-content>
