<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/" style="color: #ffffff"></ion-back-button>
		</ion-buttons>
		<ion-title style="color: #ffffff">Registro de Respuestas</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<app-preguntas-paciente> </app-preguntas-paciente>
</ion-content>
