#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.iconh{
  display: block;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 25%;
}

ion-button{
  height: auto;
  width: 100%;

}

.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  margin-bottom: 25px;
  width: 70%;
  
}

.icone{
  display: block;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 15%;
}