<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-title> Inicio </ion-title>
	</ion-toolbar>
</ion-header>

<h1 class="ion-text-center">
	Bienvenido de nuevo.
	<p></p>
	Esto podemos hacer hoy!
</h1>

<img class="icon" src="assets/icon/eco-home.svg" alt="" />

<ion-content padding style="align-content: center">
	<ion-row>
		<ion-col>
			<ion-button href="#" expand="block" routerLink="/ver-listas" class="ion-text-capitalize">
				<img class="iconh" src="assets/icon/lista-de-verificacion.svg" routerLink="/lista" />
				Observar<br />
				registros
			</ion-button>
		</ion-col>

		<ion-col>
			<ion-button href="#" expand="block" routerLink="/ver-preguntas-registradas" class="ion-text-capitalize">
				<img class="iconh" src="assets/icon/expediente.svg" />
				Mirar<br />
				Resultados
			</ion-button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-button expand="full" (click)="Onlogout()" class="ion-text-capitalize">
				<img class="icone" src="assets/icon/salida.svg" />
				Cerrar<br />
				Sesión
			</ion-button>
		</ion-col>
	</ion-row>
</ion-content>