.slide-full {
	height: 100%;
}

ion-card {
	overflow: unset;
}

ion-card {
	height: 95%;
	width: 100%;
}

.slide-image {
	width: 25%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	position: relative;
	top: 5px;
}
.slide-image-welcome {
	width: 50%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	position: relative;
	top: 2px;
}

ion-card-header {
	position: relative;
}

ion-card-content {
	position: relative;
	color: aliceblue;
}

ion-card-title {
	color: black;
}

ion-item {
	margin-top: 25px;
	background: #dfe5f1;
	margin: 10px;
	border: 1px solid #3171e0;
	border-radius: 15px;
}
