<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/" style="color: white"> </ion-back-button>
		</ion-buttons>
		<ion-title style="color: #ffffff"> Test </ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-slides pager="false" class="slide-full" #mySlider [options]="slideOpts">
		<ion-slide *ngFor="let slide of slides1">
			<ion-card>
				<ion-card-header>
					<ion-card-content style="margin-bottom: 15px">
						<img [src]="slide.img" class="slide-image-welcome" />
						<app-crear-paciente (next)="swipeNext()"> </app-crear-paciente>
					</ion-card-content>
				</ion-card-header>
			</ion-card>
		</ion-slide>

		<ion-slide *ngFor="let slide of preguntas, let i = index">
			<ion-card>
				<img [src]="slide.img" class="slide-image" />
				<ion-card-header>
					<ion-card-title style="height: 60px"
						><b> {{slide.pregunta}} </b></ion-card-title
					>
					<ion-card-content style="margin-top: 30px">
						<ion-list>
							<ion-radio-group value="0" [(ngModel)]="value">
								<ion-item>
									<ion-label>Nunca</ion-label>
									<ion-radio slot="start" value="Nunca" point="0"></ion-radio>
								</ion-item>

								<ion-item>
									<ion-label>A veces</ion-label>
									<ion-radio slot="start" value="A veces" point="1"></ion-radio>
								</ion-item>

								<ion-item>
									<ion-label>Muchas veces</ion-label>
									<ion-radio
										slot="start"
										value="Muchas veces"
										point="2"
									></ion-radio>
								</ion-item>

								<ion-item>
									<ion-label>Siempre</ion-label>
									<ion-radio slot="start" value="Siempre" point="3"></ion-radio>
								</ion-item>
							</ion-radio-group>
						</ion-list>
					</ion-card-content>
					<ion-button
						type="button"
						color="danger"
						(click)="swipePrev()"
						class="ion-text-capitalize"
						>Atras</ion-button
					>
					<ion-button
						type="submit"
						color="tertiary"
						(click)="swipeNext(i)"
						class="ion-text-capitalize"
						>Siguiente
					</ion-button>
				</ion-card-header>
			</ion-card>
		</ion-slide>

		<ion-slide *ngFor="let slide of final">
			<ion-card>
				<img [src]="slide.img" class="slide-image" />
				<ion-card-header>
					<ion-card-title>
						<b>{{slide.titulo}}</b>
					</ion-card-title>
					<ion-card-content> </ion-card-content>
					<ion-button
						type="button"
						color="danger"
						(click)="swipePrev()"
						class="ion-text-capitalize"
						>Atras</ion-button
					>
					<ion-button
						type="submit"
						color="success"
						(click)="Onlogout()"
						class="ion-text-capitalize"
						>Finalizar
					</ion-button>
				</ion-card-header>
			</ion-card>
		</ion-slide>
	</ion-slides>
</ion-content>
